<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>eric_bsdf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F73B956F6DC47DDBD5B8447</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2679D25460EF4B5B9771EAE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>603CDCD9261C4181AD95BF4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92693C50AFC24CFD83FA76EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1A73D68D3D044849A368967</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3174335B4394876AA27C761</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7584A3166B84410A54C37A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF245BE8A7FA4A1EB01E52D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
